spring:
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        transport:
          protocol: smtp
    test-connection: false
  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 60000
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: pass
    url: jdbc:postgresql://localhost:5433/mvn_project
  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23lidkYctSyGBWNC0H
            client-secret: 18e638dce206b6db7d4cbeabf98e81846bf9dcb2
            redirect-uri: http://localhost:8080/login/oauth2/code/github
            scope:
              - openid
              - profile
              - email
jwt:
  secret: thisIsMysecregtfrdesww233eggtffeeddgkjjhhtdhttebd54ndhdhfhhhshs8877465sbbdd
  expiration: 3600000
  refresh-expiration: 604800000
  issuer: transport-app
app:
  verification:
    token-expiration-hours: 24
    base-url: http://localhost:8080
    from-email: noreply@logistics.com
    from-name: Logistics Management System
